sudo: false
language: node_js
node_js:
  - "10"
  - "9"
  - "8"

services:
  - docker

before_install:
  - docker run -d --restart=always -p 6379:6379 --name=redis redis:alpine
script:
  - npm test

after_script:
  - npm install coveralls@2 && cat ./coverage/lcov.info | coveralls
